 /* <=================navbar css codes starts=================> */
 #bars{
    display:none;
}
#tophead h1{
align-items: centerg;
}
#tophead{
width: 100%;
height: 50px;
background-color: antiquewhite;
/* overflow-x: hidden !important; */
}
#tophead ul{
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;
list-style-type: none;
text-decoration: none;
}
#tophead ul li{
list-style-type: none;
}
#tophead{
color: black;
}
#tophead ul li a:hover{
color: red;


}
.homeimg img{
padding: 5%;
}

/* <=========================navbar css codes ends==============> */
/* <======================conio css starts======================> */
#conio{
    width: 100%;
    margin-top: 10%;
       margin-bottom: 5%; 
       padding-left: 60px;
       background-color:burlywood;
       overflow-x: hidden !important;
    }
#conio h1{
    font-size:xx-large;
    }
#conio div{splay: flex;
}
#conio .corn{
    padding-left: 20%;
    font-size: xx-large;
}
/* <=====================conio css codes ends=======================> */
/* <==================media query starts===========================>  */
 /* <===================contact us starts========================> */
 #conio{
    width: 100%;
    margin-top: 10%;
       margin-bottom: 5%; 
       padding-left: 40px;
      /* overflow-x: hidden !important;*/
      display: flex;
      justify-items: center;
      align-items: center;
     flex-direction: column;
     background-color:burlywood;
     }
    #conio div .corn{
        display: flex;
        justify-items: center;
        align-items: center;
       flex-direction: column;
      }
#conio h1{
    font-size:xx-large;
    }
#conio div{
    display: flex;
}
#conio .corn{
    padding-left: 20%;
    font-size: xx-large;
}
/* <=========================contacts us ends======================> */