


#tophead h1{
    align-items: centerg;
}
#tophead{
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}
#tophead ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    
}
#tophead ul li{
    list-style-type: none;
}
#tophead{
    color: black;
}
#tophead ul li a:hover{
    color: red;

}
/* <=========================navbar css codes ends==============> */
/* <==============tophead css codes starts ===================> */

#nav .r{
display: flex;
justify-content: space-between;
    background-color: deeppink;
    width:100% ;
    /* height:500px; */
    padding:5%;
   font-size: xx-large;
   /* position: absolute; */
    }
 #nav .r h1{
    color: white;
 }
 #nav .r p{
    width: 50%;
    color: white;
    font-size: small;
 }
 #nav  .r.btn1:hover{
    color: white;
   background-color:  rgb(140, 14, 14);
   color:beige;
   border: none;
   padding: 10px 6px;
 }
 /* <====================media query starts========================> */
 @media(max-width:450px){
    #bars{
        position: absolute;
        top: 4%;
        right: 10%;
        font-size: 40px;
        color:black;
        /* z-index: 50; */
    }
 
  /* <=========================tophead media query==========================> */ */
#tophead ul{
        display: flex;
     }
    #tophead #logo{
        display:none;
    }
     #tophead ul{
        font-size: 10px;
    }
   #inp:checked~#tophead  ul{
        display: block;
        position: absolute;
        top: 50px;
        right:1%;
        padding: 20px;
        border-radius: 10px;
       background-color: black;
     }
     /* <=======================tophead close home=================> */
     #nav .r{
        display:flex;
      justify-content: center;
          background-color: deeppink;
          width:100% ;
          /* height:500px; */
          padding:15%;
         font-size: large;
         /* position: absolute; */
         /* overflow-x: hidden !important; */
          }
          #nav .r p{
              width: 30%;
              color: white;
              font-size: small;
           }
          .homeimg img{
          margin-right: 0px;
          }
/* <==========================narbar close=======================> */
        }
