#product{
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%; 
    width:90%;
    color: white;
    display: flex;
    background-color:#7fd7eb;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}


#product img{
    background-color:#7fd7eb;
}
#product .fbt{
    padding: 3% 50px;
    margin-top:30%;
    background-color: #109dbd;
    border: none;
    color: white;
    
}
#product .sbt{
    padding: 3% 50px; 
    background-color: white;
    border: none;
    
}
#product .fbt:hover{
    background:transparent ;
}
#product .sbt:hover{
    background:transparent;
}
/* <=================lay codes===================> */
#lay {
    width:100%;
    border: 2px solid black;
}
#lay{
   
        margin-top: 10%;
       margin-bottom: 5%; 
        background-color: #6f42c1;
        width: 100%;
        color:white;
        display: flex;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px; 
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
}
/* <=========================media uery starts===========================> */
 /* =======================product starts============================== */
 #product{
    margin-top: 10%;
    /* margin-left: 5%; */
    margin-bottom: 5%; 
    background-color: #7fd7eb;
    width:100%;
    color:white;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
/* <============================products ends===========================> */
/* <======================lay section purple starts================> */
#lay {
    width:100%;
    height: auto;
    border: 2px solid black;
    overflow-x: hidden !important;
}
#lay{
   
        margin-top: 10%;
       margin-bottom: 5%; 
        background-color: #6f42c1;;
        width: 100%;
        color:white;
        display: flex;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px; 
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
}
/* <==========================lay section ends=================> */