#containt{
   width:100%;
}     
#containt .maindiv{
   width: 100%;
   /* border: 2px solid black; */
    display: grid;
   grid-template-columns: auto auto auto auto; 
   justify-content: center;
   gap: 10px;
}

#containt .maindiv div{
   height: 300px;
   border: 1px solid black;
   padding-left: 5%;
   }
#containt h1{
font-size:xx-large;
}
#containt .maindiv:hover{   
  padding: 5px  6px;
  
}
/* <========================media uery starts======================> */
 /* ======================latest product starts==============================  */
 #containt .maindiv{
   width: 300px;
   height: 300px;
    border: 2px solid black; 
    display: grid;
   grid-template-columns: 1fr;

   align-items: center; 

   justify-content: center; 
   gap: 10px;
   flex-wrap: wrap; 
}
.maindiv div img{
   width: 60px;
   height: 90px;
   align-items:center ;
   background-color: 2px solid black;
   border-radius: 13px;
   margin: 10px;
}
#connect .maundiv button{
color: brown;
align-items: center;
}
/* <=========================latest product ends========================> */
      /* <==========================media query starts======================> */
       /* ======================latest product starts==============================  */
    #containt .maindiv{
      width: 300px;
      height: 300px;
       border: 2px solid black; 
       display: grid;
      grid-template-columns: 1fr;
  
      align-items: center; 

      justify-content: center; 
      gap: 10px;
      flex-wrap: wrap; 
  }
  .maindiv div img{
      width: 60px;
      height: 90px;
      align-items:center ;
      background-color: 2px solid black;
      border-radius: 13px;
      margin: 10px;
  }
  #connect .maundiv button{
color: brown;
align-items: center;
  }
  #containt .maindiv .one{
   background-color:burlywood;
}
#containt .maindiv .two{
   background-color: aqua ;
}
#containt .maindiv .three{
   background-color: cadetblue;
}
#containt .maindiv .four{
   background-color: burlywood;
}
#containt .maindiv .five{
   background-color: lightcoral;
}
#containt .maindiv .six{
   background-color: lightskyblue;
}
#containt .maindiv .seven{
   background-color:  aquamarine;
}
#containt .maindiv .eight{
   background-color: plum;
}
  /* <=========================latest product ends========================> */