 /* <=================navbar css codes starts=================> */
 #bars{
   display:none;
}
#tophead h1{
align-items: centerg;
}
#tophead{
width: 100%;
height: 50px;
background-color: antiquewhite;
/* overflow-x: hidden !important; */
}
#tophead ul{
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;
list-style-type: none;
text-decoration: none;
}
#tophead ul li{
list-style-type: none;
}
#tophead{
color: black;
}
#tophead ul li a:hover{
color: red;


}
.homeimg img{
padding: 5%;
}

/* <=========================navbar css codes ends==============> */
/* <=================gifts shop starts====================> */
#containt{
   width:100%;
   /* overflow-x: hidden !important; */
}     
#containt .maindiv{
   width: 100%;
   /* border: 2px solid black; */
    display: grid;
   grid-template-columns: auto auto auto auto; 
   justify-content: center;
   gap: 10px;
}

#containt .maindiv div{
   height: 300px;
   border: 1px solid black;
   /* padding-left: 5%; */
   }
#containt h1{
font-size:xx-large;
}
#containt .maindiv:hover{   
  padding: 5px  6px;
  
}
#containt .maindiv .one{
   width: 100%;
   background-color:burlywood;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
#containt .maindiv .one div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 10%;

}
#containt .maindiv .one img{
   width:70%;
   height:200px;
   align-items: center;
   padding-left: 10%;


}

#containt .maindiv .two{
   width: 100%;
   background-color: aqua ;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
#containt .maindiv .two div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}
#containt .maindiv .two img{
   width:60%;
   height:150px;
   align-items: center;
   padding-left: 20%;

}
#containt .maindiv .three{
   background-color: cadetblue;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .three div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   /* margin-bottom: 10%; */
}
#containt .maindiv .three img{
   width:70%;
   height:150px;
   align-items: center;
   padding-left: 10%;

}
#containt .maindiv .four{
   background-color: burlywood;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .four div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 30%;
}
#containt .maindiv .four img{
   width:70%;
   height:160px;
   align-items: center;
   padding-left: 10%;

}

#containt .maindiv .five{
   background-color: lightcoral;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .five div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 10%;
}
#containt .maindiv .five img{
   width:70%;
   height:150px;
   align-items: center;
   padding-left: 10%;

}
#containt .maindiv .six{
   background-color: lightskyblue;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .six div{
   margin-top: 2%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 5%;
}
#containt .maindiv .six img{
   width:70%;
   height:160px;
   align-items: center;
   padding-left: 15%;

}
#containt .maindiv .seven{
   background-color:  aquamarine;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .seven div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}
#containt .maindiv .seven img{
   width:60%;
   height:150px;
   align-items: center;
   padding-left: 25%;

}
#containt .maindiv .eight{
   background-color: plum;
   width: 100%;  
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .eight div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}
#containt .maindiv .eight img{
   width:70%;
   height:150px;
   align-items: center;
   padding-left: 10%;

}
#containt .maindiv .even{
   padding: 6% 30px;
   background-color: rgb(140, 14, 14);
   border: 2px solid black;
   color: white;
   display: flex;
   justify-content: space-between;
   
}
/* <============gifts shop close==============> */ /* <==================connect css codes starts=====================> */
#connect{
   width:100%;
   height: 80vh;
   border: 1px solid black;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    padding-left: 2%;
     overflow-x: hidden !important;
   }
   #connect .box2{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 20px;
   }
   .box2 div{
       width: 300px;
       height: 300px;
       border: 1px solid black;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }

/* <========================connect css codes ends=====================> */

/* <========================media uery starts======================> */
 /* ======================latest product starts==============================  */
 @media(max-width:450px){
   #bars{
      position: absolute;
      top: 0%;
      right: 5%;
      font-size: 40px;
      color:black;
      z-index: 50;
      display:block;

  }
  #inp{
      display:none;
  }
 #containt .maindiv{
   width: 300px;
   height: 300px;
    border: 2px solid black; 
    display: grid;
   grid-template-columns: 1fr;

   align-items: center; 

   justify-content: center; 
   gap: 10px;
   flex-wrap: wrap; 
}
.maindiv div img{
   width: 60px;
   height: 90px;
   align-items:center ;
   background-color: 2px solid black;
   border-radius: 13px;
   margin: 10px;
}
#connect .maundiv button{
color: brown;
align-items: center;
}
/* <=========================latest product ends========================> */
      /* <==========================media query starts======================> */
 /* ======================latest product starts==============================  */
 #containt .maindiv{
   width: 100%;
   height: auto;
    border: 2px solid black; 
    display: grid;
   grid-template-columns: 1fr;
   align-items: center; 
   justify-content: space-between; 
   gap: 10px;
   flex-wrap: wrap; 
}
.maindiv div img{
   width: 100px;
   height: 90px;
   align-items:center ;
   background-color: 2px solid black;
   border-radius: 13px;
   margin:40px;
}
#containt .maindiv .one{
   width: 100%;
   background-color:burlywood;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
#containt .maindiv .one div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   /* margin-bottom: 10%; */

}
#containt .maindiv .one img{
   width:60%;
   height:150px;
   align-items: center;
   padding-left: 10%;


}

#containt .maindiv .two{
   width: 100%;
   background-color: aqua ;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
#containt .maindiv .two div{
   margin-top: 2%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 10%;
}
#containt .maindiv .two img{
   width:40%;
   height:100px;
   align-items: center;
   padding-left: 15%;

}
#containt .maindiv .three{
   background-color: cadetblue;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .three div{
   /* margin-top: 5%; */
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 5%;
}
#containt .maindiv .three img{
   width:40%;
   height:90px;
   align-items: center;
   padding-left: 20%;

}
#containt .maindiv .four{
   background-color: burlywood;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .four div{
   /* margin-top: 5%; */
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 10%;
}
#containt .maindiv .four img{
   width:50%;
   height:90px;
   align-items: center;
   padding-left: 5%;

}

#containt .maindiv .five{
   background-color: lightcoral;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .five div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 10%;
}
#containt .maindiv .five img{
   width:50%;
   height:90px;
   align-items: center;
   padding-left: 10%;

}
#containt .maindiv .six{
   background-color: lightskyblue;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .six div{
   margin-top: 2%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 5%;
}
#containt .maindiv .six img{
   width:50%;
   height:100px;
   align-items: center;
   padding-left: 15%;

}
#containt .maindiv .seven{
   background-color:  aquamarine;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .seven div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}
#containt .maindiv .seven img{
   width:60%;
   height:90px;
   align-items: center;
   padding-left: 25%;

}
#containt .maindiv .eight{
   background-color: plum;
   width: 100%;  
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#containt .maindiv .eight div{
   margin-top: 5%;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}
#containt .maindiv .eight img{
   width:60%;
   height:90px;
   align-items: center;
   padding-left: 10%;

}
#containt .maindiv .even{
   padding: 6% 30px;
   background-color: rgb(140, 14, 14);
   border: 2px solid black;
   color: white;
   display: flex;
   justify-content: space-between;
   
}
/* <=========================latest product ends========================> */
 }
     