#containt{
   width:100%;
}     
#containt .maindiv{
   width: 100%;
   border: 2px solid black;
    display: grid;
   grid-template-columns: auto auto auto auto; 
   justify-content: center;
   gap: 10px;
}

#containt .maindiv div{
   height: 300px;
   border: 1px solid black;
   padding-left: 5%;
   }
#containt h1{
font-size:xx-large;
}
#containt .maindiv:hover{   
  border: none;
  padding: 5px  6px;
}