*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#tophead h1{
    align-items: centerg;
}
#tophead{
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}
#tophead ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    
}
#tophead ul li{
    list-style-type: none;
}
#tophead{
    color: black;
}
#tophead ul li a:hover{
    color: red;

}
#nav .r{
display: flex;
justify-content: space-between;
    background-color: deeppink;
    width:100% ;
    /* height:500px; */
    padding:5%;
   font-size: xx-large;
   /* position: absolute; */
    }
 #nav .r h1{
    color: white;
 }
 #nav .r p{
    width: 50%;
    color: white;
    font-size: small;
 }
 #nav  .r.btn1:hover{
    color: white;
   background-color:  rgb(140, 14, 14);
   color:beige;
   border: none;
   padding: 10px 6px;
 }

#nav  .r .u{
    /* position: absolute; */
}
 

 
#containt{
    width:100%;
}     
#containt .maindiv{
    width: 100%;
    /* height: 30px; */
    border: 2px solid black;
     display: grid;
    grid-template-columns: auto auto auto auto; 
    justify-content: center;
    gap: 10px;

    
}

#containt .maindiv div{
    width: 280px;
    height: 300px;
    border: 1px solid black;
    padding-left: 5%;
    
}
#containt h1{
font-size:xx-large;
}
#containt .maindiv:hover{   
   
   border: none;
   padding: 5px  6px;
}
#product{
    margin-top: 10%;
    margin-left: 5%;
   margin-bottom: 5%; 
    background-color:#7fd7eb;
    width:90%;
    color:white;
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#product .fbt{
    padding: 3% 50px;
    margin-top:30%;
    background-color: #109dbd;
    border: none;
    color: white;
    
}
#product .sbt{
    padding: 3% 50px; 
    background-color: white;
    border: none;
    
}
#product .fbt:hover{
    background:transparent ;

}
#product .sbt:hover{
    background:transparent;
}
#shop{
    width: 100%;
    height: 100px;
    /* display:flex;
    justify-content: center; */
}
.shopdiv div{
    height: 300px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px solid black;
    /* padding-left: 30%; */
    /* margin-top:0%; */
}
#shop .shophead{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    width: 100%;
    
}
#shop .shopdiv
{

    display: flex;
    justify-content: center;
    gap: 2%; ;
    margin-top: 45px;
    
    /* padding: 50px; */
    /* border-radius: 25px; */
}
/* #shop .shopdiv .quet h1{
display: flex;
justify-content: center;
} */
#shopdiv .quet{
    width: 200%;
    height: 200px;
    box-shadow: 15px 15px 0px 50px grey;
}
#lay {
    width:100%;
    height: 100pv;
    border: 2px solid black;
}
#lay{
   
        margin-top: 10%;
        margin-left: 5%;
       margin-bottom: 5%; 
        background-color: #6f42c1;;
        width:90%;
        color:white;
        display: flex;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px; 
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
}
#conio{
    width: 100%;
    height: 100px;
    margin-top: 10%;
        margin-left: 5%;
       margin-bottom: 5%; 
}
#conio h1{
    font-size:xx-large;
    }
#conio div{
    display: flex;
}
#conio .corn{
    padding-left: 20%;
    font-size: xx-large;
}